.mainLogo {
    margin-top: 80px;
    margin-left: 93px;
    width: 153px;
    height: 73px;
}

.navigation {
    margin-top: 60.5px;
    margin-left: 113.5px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul > li {
    display: inline;
    padding-right: 40px;
    padding-left: 4px;
    font-size: 17px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    color: #716E6E;
}

.navigation ul > li.active {
    border-bottom: 5px solid black;
    color: black;
    padding-bottom: 1px;
}

.mapDiv {
    margin-top: 86px;
    width: 1688px !important;
    height: 654px !important;
    margin-left: 113.5px !important;
    margin-right: 113.5px !important;
}